.register-container{
    display: flex;
    width: 100%;
    height: 92.5vh;
    overflow-y: hidden;   
    background-image: url("https://i.redd.it/zjgs096khv591.jpg");
}
.register-col{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-row{
    display: flex;
    width: 40%;
}

.register-row > form{
    background-color: #212529;
    border-radius: 20px;
    padding-bottom: 15px;
    box-shadow: 2px 2px #68696a;
    outline:  1px solid #68696a;
}

.register-row > form > label{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.register-row > form > button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}